@import "tailwindcss";


.mobile-menu
{
     position: fixed;
     top: 0;
     right: -100%;
     width: 250px;
     height: 100%;
     align-items: center;
     transition: 0.5s ease;
     padding: 60px 30px;
     z-index: 1000;
}

@media(max-width: 540px){
    .hero__content
    {
         flex-direction: column;
    }
}
.hero__section
{
     opacity: 1;
}
.typed-cursor
{
    color: #fff;
    font-size: 36px;
    display: block;
}

@media(max-width: 578px){
    .group
    {
         flex-direction: column;
    }
    .group-input
    {
         width: 100%;
    }
}

