* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  width: 100%;
  max-width: 400px;
}

form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #00ffd5;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #2c2c2c;
  color: #fff;
  outline: none;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #00ffd5;
}

.error-message {
  color: #ff5b5b;
  font-size: 0.875rem;
  margin-top: 5px;
  display: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #00ffd5;
  color: #000;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #00d6b4;
}
#result
{
     color: green;
}